@charset "utf-8";
* {
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:not(input,textarea) {
  -webkit-touch-callout: inherit;
  -webkit-user-select: auto;
}
body, html { 
  font-size: 14px; 
  color: #333;  
  padding: 0; 
  margin: 0;
  font-family: 'Microsoft YaHei', Arial, Helvetica, "宋体", sans-serif;
}
a {
  color: #333;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
a:hover {
  text-decoration: none;
}
button,input,select,textarea {
  font-size: 100%;
  margin: 0;
  padding: 0;
  outline: none;
}
dt,dd {
  display: inline-block;
}
textarea,input {
  resize: none;
  outline: none;
}
textarea {
  resize: none;
  -webkit-appearance: none;
}
ul,ol,li {
  list-style: none;
}
em {
  font-style: normal;
}

.packCenter{
    display: -webkit-box;
    -webkit-box-align:center;
    justify-content:center;
}

.alignCenter{
    display: -webkit-box;
    -webkit-box-align:center;
    -webkit-box-pack:center;    
}



