@charset "utf-8";
.knowledge{
	position: absolute;
	width:100%;
	height: 100%;
	background: #fff;
}
.knowledge .logo{
	height: 40%;
	width:100%;
	background:url(../img/bg.jpg) no-repeat center;
	background-size:cover;
	display: -webkit-box;
	-webkit-box-align:center;
	-webkit-box-pack:center;
	text-align: center;	
}
.knowledge .logo img{
	max-width:70%;
}
.knowledge .logo p{
	padding-top:14px;
}
.knowledge .logo span{
	display: block;
	width:70%;
	height: 40px;
	line-height: 36px;
	text-align: center;
	border:2px solid #e4e4e4;
	color: #e4e4e4;
	margin:0 auto;
	font-size: 1.3rem;
}
.knowledge .each_sort{
	height: 60%;
	width:100%;
	-webkit-box-orient:vertical;
	display: -webkit-box;
}
.knowledge .each_sort .sort_wrap{
	display: -webkit-box;
	-webkit-box-flex:1;
	-webkit-box-orient:vertical;
	padding:5px;
	border-bottom:1px solid #dcdcde;
}
.each_sort .sort_box{
	-webkit-box-flex:1;
	display: -webkit-box;
}
.each_sort .sort_box a{
	-webkit-box-flex:1;
	display: block;
	display: -webkit-box;
	-webkit-box-align:center;
	-webkit-box-pack:center;
	text-align: center;	
	margin:3px;
}
.each_sort .sort_box a img{
	max-width: 44%;
}

.knowledge .each_sort .online_ask{
	background:#f5f7f8;
	padding:10px 20px;
}
.each_sort .online_ask a{
	display: block;
	background: #42a955;
	border-radius: 4px;
	height: 44px;
	line-height: 44px;
	text-align: center;
	color:#fff;
	font-size: 1.2rem;
}
.online_ask .ask_icon{
	padding:2px 13px;
	background: url(../img/ask_icon.png) no-repeat 0 1px;
	background-size:21px;
}


.list_title{
	width:100%;
	height: 50px;
	line-height: 50px;
	background:#00c0e4;
	display: -webkit-box;
	padding-left: 4px;
}
.list_title .icon{
	padding:10px 23px;
	background:url(../img/icon.png) no-repeat 0 0;
	background-size: 40px;
	margin-left: 5px;
}
.blue_bg .icon{
	background-position: 0 0;
}
.green_bg .icon{
	background-position: 0 -76px;
}
.orange_bg .icon{
	background-position: 0 -155px;
}
.red_bg .icon{
	background-position: 0 -230px;
}
.list_title h3{
	color: #fff;
	font-size: 1.3rem;
}
.knowledge_list ul{
	padding:5px 0 30px;
}
.knowledge_list ul li{
	padding:10px 16px;
	padding-right:10px;
	border-bottom: 1px solid #e1e1e1;
	display: -webkit-box;
	padding-right: 40px;
	position: relative;
}
.knowledge_list ul li span{
	display: block;
	width:8px;
	height: 8px;
	margin-top:6px;
	border-radius: 50%;
	background: #00c0e4;
	margin-right: 10px;
}
.knowledge_list ul li em{
	position: absolute;
	top:12px;
	right:4px;
	color:#999;
}
.knowledge_list ul li a{
	display: -webkit-box;
	-webkit-box-flex:1;
	line-height: 22px;
}

.blue_bg{
	background:#00c0e4;
}
.green_bg{
	background:#5bd999;
}
.orange_bg{
	background:#eac14d;
}
.red_bg{
	background:#e6567a;
}
/*ipone6*/
@media screen and (min-width: 375px){
    
}
/*ipone4*/
@media screen and (max-height: 480px) and (max-width: 337px){
	
}
