@charset "utf-8";
body {
	margin: 0;
	padding: 0;
	font-size: 12px;
	background-color: #F9F9F9;
	min-width: 985px;
}
body, input, textarea, pre {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.zh_cn, .zh_cn input, .zh_cn textarea, .zh_cn pre {
	font-family: 'Microsoft YaHei', Arial, sans-serif;
}
.zh_tw, .zh_tw input, .zh_tw textarea, .zh_tw pre {
	font-family: 'Microsoft YaHei', Arial, sans-serif;
}
.ko_kr, .ko_kr input, .ko_kr textarea, .ko_kr pre {
	font-family: Arial, 돋움, 'Malgun Gothic', AppleGothic, sans-serif
}
.ja_jp, .ja_jp input, .ja_jp textarea, .ja_jp pre {
	font-family: Arial, 'MS PGothic', sans-serif;
}
.safari, .safari input, .safari textarea, .safari pre {
	font-family: arial;
}
ol, ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}
textarea {
	resize: none;
}
input {
	outline: none
}
input::-ms-clear {
	display:none;
}
*:focus {
	outline: none;
}
input::-webkit-search-cancel-button {
	display: none;
}
input::-ms-reveal {
	display:none;
}
a, a:link, a:hover, a:visited {
	text-decoration: none;
	outline: none;
}
/*底部语言切换bug3044修复-win7 safari_5.1.7字符显示有问题*/
#ls_menu .l_zh_cn {
	font-family: 微软雅黑, 'Microsoft YaHei';
}
#ls_menu .l_en_us {
	font-family: Arial;
}
#ls_menu .l_ja_jp {
	font-family: 'MS PGothic', Arial, sans-serif;
}
#ls_menu .l_ko_kr {
	font-family: '돋움';
}
img {
	border: 0;
}
/* 块内元素布局去除inline-block间距，兼容ie7,safari（类加在父元素） */
.ib, .ib .ib {
	letter-spacing: -4px;
	font-size: 0;
}

/* 新版firefox兼容 */
@-moz-document url-prefix() {
	.ib, .ib .ib {
		letter-spacing:0;
		font-size:0;
	}
}
.ib > div, .ib > label, .ib > a, .ib > span, .ib > li, .ib > input {
	letter-spacing: 0;
	font-size: 12px;
	display: inline-block;
	*zoom:1;
	*display:inline;
}
/* 三角形（可以继承或重定义颜色，方向有up、down、left、right） */
.triangle {
	width: 0;
	height: 0;
	font-size: 0;
	line-height: 0;
	display: inline-block;
	*zoom:1;
	*display:inline;
	border-width: 5px;
	border-style: solid;
}
.triangle.up {
	border-left-color: transparent;
	border-right-color: transparent;
	border-top-color: transparent;
	border-top-width: 0;
}
.triangle.left {
	border-top-color: transparent;
	border-bottom-color: transparent;
	border-left-color: transparent;
	border-left-width: 0;
}
.triangle.down {
	border-left-color: transparent;
	border-right-color: transparent;
	border-bottom-color: transparent;
	border-bottom-width: 0;
}
.triangle.right {
	border-top-color: transparent;
	border-bottom-color: transparent;
	border-right-color: transparent;
	border-right-width: 0;
}
.com_triangle_ico_up, .com_triangle_ico_down {
	position: absolute;
	background: url(../../images/arrow_down_201501201500.png) no-repeat;
	height: 5px;
	width: 9px;
	right: 7px;
	top: 12px;
	cursor: pointer;
}
.com_triangle_ico_up {
	background: url(../../images/arrow_up_201501201500.png) no-repeat;
}
/* 省略号 */
.hidelong {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	word-wrap: normal;
}
/*清除浮动*/
.clear_fd, .ib .clear_fd, .ib .ib .clear_fd {
	display: block;
	height: 0px;
	overflow: hidden;
	clear: both;
}
/* 整体大的布局 */
.owner {
	background-color: #e1e1e1;
}
/*
.head, .main, .foot {
	min-width: 940px;
}
bug5587，UI潘建议的
*/
.head, .foot{
	min-width: 1250px;
}
.main{
	min-width: 1230px;
}
.inner {
	margin: 0 auto;
	position:relative;
}
.owner .main {
	margin:4px 10px;
	padding: 0px;
	color: #333333;
}
.main .inner {
	min-height: 463px;
}
.col_main, .col_left, .col_center, .col_right {
	vertical-align: top;
}
.col_main {
	width: 800px;
}
.col_main.edit {
	background-color: #ffffff;
}
.col_center {
	width: 556px;
	background-color: #ffffff;
	border-left: 2px solid #cccccc;
	border-right: 2px solid #cccccc;
}
.col_main_box {
	margin: 10px;
	border: 1px solid #cccccc;
}
.col_left {
	position:absolute;
	left:0;
	top:0;
	width: 270px;
	text-align: left;
	background-color: #ffffff;
	box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.05);
}
.col_right {
	min-height: 300px;
	margin-left: 274px;
	text-align: left;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.05);
	border-radius: 2px;
}
/* 各首页右边头部容器 */
.col_right_topbox {
	height: 50px;
	line-height:50px;
	position: relative;
	border-bottom: 1px solid #cccccc;
	background-color: #ffffff;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	padding:0 20px;
}
.col_right_toptitle {
	font-size: 16px;
	font-weight: bold;
	color: #333333;
	text-align: left;
	vertical-align: top;
	max-width: 200px;
}
.ib .col_right_toptitle {
	font-size: 16px;
}
.col_right_topbox .btns {
	position: absolute;
	top: 10px;
	right: 20px;
	line-height:normal;
}
/*默认值的颜色*/
.info_default_color {
	color: #cccccc;
}
/*左边全局阴影*/
.left_box_shadow {
	box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.05);
}
.header_left_box1 {
	width: auto;
	height: 40px;
}
.logo {
	width: 241px;
	height: 40px;
	background: url(../../images/site/ccb_logo_en_201502081806.png) 0px 0px no-repeat;
	position: relative;
	left: -7px;
	top: 0px;
	background-position: center;
	padding: 0px 10px;
}
#logo_ejet {
	cursor: pointer;
}
#logo_ejet a {
	display: block;
	height: 100%;
}
.logo:hover {
	background-color: #1f2d39;
}
.personal .logo:hover {
	background-color: #076F9C;
}
.zh_cn .logo, .zh_cn .logo.personal_logo {
	width: 139px;
	background-image: url(../../images/site/cc_logo_cn_201502281900.png);
	cursor: pointer;
}
.logo.l_zh_cn {
	width: 194px;
	background-image: url(../../images/site/ccb_logo_cn_201502081806.png);
}
.logo.personal_logo {
	background-image: url(../../images/site/cc_logo_en_201502281900.png);
	width: 147px;
}
.logo.personal_logo.l_zh_cn {
	background-image: url(../../images/site/cc_logo_cn_201502281900.png);
	width: 132px;
}
/* 繁体 */
.zh_tw .logo, .zh_tw .logo.personal_logo {
	width: 139px;
	background-image: url(../../images/site/cc_logo_cn_201502281900.png);
	cursor: pointer;
}
.zh_tw .logo.l_zh_cn {
	width: 194px;
	background-image: url(../../images/site/ccb_logo_cn_201502081806.png);
}
.zh_tw .logo.personal_logo {
	background-image: url(../../images/site/cc_logo_cn_201502281900.png);
	width: 147px;
}
.zh_tw .logo.personal_logo.l_zh_cn {
	background-image: url(../../images/site/cc_logo_cn_201502281900.png);
	width: 132px;
}
/* 注册登录邀请 */
.sign .mt {
	font-size:24px;
	color:#333333;
	text-align:center;
}
.sign .mc {
	margin-top:60px;
	font-size:12px;
	position:relative;
}
.tip_input {
	margin-top: 12px;
	font-size: 12px;
	color: #333333;
	font-weight: bold;
}
.tip_input.first {
	margin-top: 0;
}
.input_outer {
	padding: 0 11px;
	position: relative;
	margin-top: 8px;
}
.input_text, .di_input_text {
	border: 1px solid #cccccc;
	padding: 0 10px;
	display: block;
	width: 100%;
	margin-left: -11px;
	height: 28px;
	line-height: 28px\0;
	outline: none;
	border-radius: 3px;
	font-size: 14px;
}
.input_text.remember {
	background-color: #fffbbd;
}
.input_text:focus, .di_input_text:focus {
	border-color: #333333;
	box-shadow: 0 0 5px rgba(45,64,81,.2);
}
.link {
	color: #1B84B2;
	text-decoration: none;
}
.link:hover {
	text-decoration: underline;
}
.show_error {
	cursor:pointer;
}
.error {
	display: none;
	font-size: 12px;
	margin: 20px 0px 28px -11px;
	color: #f06364;
}
.err_com {
	top: -30px;
	position: absolute;
	margin-left: 0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}
.foot {
	font-size: 12px;
	line-height: 26px;
	border-top: 1px solid #e8e8e8;
	color: #707070;
}
.foot .inner {
	position: relative;
	padding: 27px 10px 12px;
}
.ccb_foot_link {
	color: #707070;
	text-decoration: none;
}
.ccb_foot_link:hover {
	text-decoration: underline;
}
.foot_linespacing {
	margin: 0 10px;
	width: 1px;
	height: 12px;
	background: #B7B7B7;
	position: relative;
	top: 2px;
}
/* 底部多语言切换 */
.language_switch {
	position: absolute;
	top: 27px;
	right: 10px;
}
.ls_handle {
	cursor: pointer;
}
.ls_handle_text {
	padding-right: 1px;
	vertical-align: middle;
}
.ls_handle_triangle {
	width: 9px;
	height: 5px;
	background-image: url(../../images/ls_handle_triangle.png);
	vertical-align: middle;
	margin-left: 5px;
}
.ls_menu {
	position: absolute;
	bottom: 42px;
	right: 0;
	padding: 10px 0;
	width: 150px;
	border: 1px solid #CECECE;
	background-color: #ffffff;
	border-radius: 2px;
	box-shadow: 0 4px 8px #CECECE;
	display: none;
}
.ls_item {
	margin-top: 5px;
	line-height: 28px;
	height: 28px;
	padding: 0 15px;
	cursor: pointer;
}
.ls_item:hover {
	background-color: #2488B4;
	color: #ffffff;
}
.ls_item.first {
	margin-top: 0;
}
.ls_menu .triangle {
	position: absolute;
	color: #CECECE;
	border-width: 12px;
	border-bottom-width: 0;
	bottom: -14px;
	right: 25px;
}
.ls_menu .triangle .triangle {
	color: #ffffff;
	left: -12px;
	top: -14px;
}
/* 登录后的头部 */
.head_top {
	padding: 0px;
	background-color: #2d4051;
}
.personal .head_top {
	background-color: #1B84B2;
}
.head_top .inner {
	height: 40px;
	position: relative;
	text-align: center;
	width: auto;
}
.head_top .align_left {
	text-align: left;
}
.ht_btn {
	color: #c8cace;
	font-size: 13px!important;
	height: 40px;
	line-height: 40px;
	vertical-align: top;
	padding: 0 15px;
	width: auto;
	cursor: pointer;
	position: relative;
}
.personal .ht_btn{
	color:#fff;
}
.ht_btn .arrow {
	width: 5px;
	height: 5px;
	background: url(../../images/head_arrow.png) no-repeat;
	display: block;
	position: absolute;
	bottom: 3px;
	right: 3px;
}
.ht_btn.last_admin .triangle.down {
	position: absolute;
	right: 0px;
	top: 10px;
}
.ht_btn.last_user {
	padding-right: 0;
	max-width: 200px;
}
.ht_btn .triangle.down {
	margin-left: 5px;
	top: 2px;
	position: relative;
	border-width: 4px;
}
/* 设置 *//* 消息 *//* help *//* 工具 */
.ht_btn:hover, .ht_btn.selected {
	background-color: #1f2d39;
	color: #fff;
}
/*avastar*/
.ht_btn.last_admin {
	max-width: 150px;
	min-width: 30px;
	width: auto;
	line-height: 60px;
	padding: 0;
}
.ht_btn.last_admin:hover {
	background-color: #243341;
	color: #ffffff;
}
.personal .ht_btn:hover, .personal .ht_btn.selected {
	background-color: #076F9C;
}

.ht_btn_outer {
	text-align: center;
	position: relative;
	vertical-align: top;
}
.hb_btn_outer .hb_btn {
	line-height: 50px;
	padding: 0 80px 0px 17px;
	font-size: 14px;
	color: #2D4051;
	text-decoration: none;
}
.personal .hb_btn_outer .hb_btn {
	color: #1b84b2;
}
.hb_btn_outer {
	position: relative;
	vertical-align: top;
}
.hb_btn_outer.select {
	background-color: #e1e1e1;
	height: 51px;
	font-weight: bold;
	border-left: 1px solid #D5D9DC;
	border-right: 1px solid #D5D9DC;
}
.hbr_btns {
	float: right;
	position: relative;
}
.hbr_btns .hbr_btn {
	height: 24px;
	line-height: 24px;
	text-align: center;
	padding: 0 20px;
	font-size: 12px;
	font-weight: bold;
	color: #ffffff;
	background-color: #1B84B2;
	border: 1px solid #1B84B2;
	cursor: pointer;
	border-radius: 3px;
	margin-left: 10px;
	position: relative;
	text-decoration: none;
}
.hbr_btn:hover {
	background-color: #057baf;
	box-shadow: 0px 2px 1px rgba(0,0,0,0.15);
	box-shadow: 0 2px 1px #d9d9d9\0;
}
.hbr_btn.disable {
	background-color: #b3d3e1;
	border-color: #b3d3e1;
	box-shadow: none;
	cursor: default;
}
.hbr_btn.orangle {
	background-color: #FF9933;
	border: 1px solid #ed8721;
}
.hbr_btn.orangle:hover {
	border: 1px solid #ee8021;
	background-color: #fc8f30;
	box-shadow: 0px 2px 1px rgba(115, 66, 30, 0.15);
	box-shadow: 0px 2px 1px #d9d9d9\0;
}
.hbr_btn.dark {
	background-color: #2D4051;
	border: 1px solid #2D4051;
	box-shadow: 0 1px 2px rgba(0,0,0,.1);
}
.hbr_btn.dark:hover {
	background-color: #243341;
	border-color: #243341;
	box-shadow: 0 2px 1px rgba(0,0,0,.15);
}
.hb_btn .l_step {
	height: 30px;
	width: 1px;
	background-color: #D5D9DC;
	position: absolute;
	left: -1px;
	top: 10px;
}
.hb_btn .r_step {
	height: 30px;
	width: 1px;
	background-color: #D5D9DC;
	position: absolute;
	right: -1px;
	top: 10px;
}
.icon_plus {
	display: inline-block;
	width: 8px;
	height: 8px;
	background: url(../../images/icon_plus.png?201405121517) center no-repeat;
	margin-right: 5px;
}
.icon_mergecard {
	display: inline-block;
	width: 13px;
	height: 8px;
	background: url(../../images/icon_mergecard.png) center no-repeat;
	margin-right: 5px;
}
.icon_share {
	display: inline-block;
	width: 11px;
	height: 10px;
	background-image: url(../../images/icon_share.png?20140526);
	margin-right: 5px;
}
.user_nav {
	position: absolute;
	right: 0;
	top: 0;
}
.account_nav {
	position: absolute;
	right: 10px;
	top: 0;
	line-height:40px;
}
.input_search {
	margin: 0;
	width: 85px;
	padding: 0 10px 0 25px;
	height: 24px;
	line-height: 24px\9;
	border: 0px;
	border-radius: 15px;
	background-color: transparent;
	outline: none;
	position: relative;
	z-index: 1;
	color: #ffffff;
	font-size: 12px;
}
.input_search:active, .input_search:focus, .search_input:hover .input_search:active, .search_input:hover .input_search:focus {
	border-color: #999;
	color: #333;
}
.prompt {
	position: absolute;
	top: -1px;
	left: 10px;
	line-height: 30px;
	color: #c2c2c2;
	z-index: 1;
}
.head_menu {
	display: none;
	position: absolute;
	list-style: none;
	right: 0;
	top: 40px;
	margin: 0;
	padding: 10px 0;
	width: 180px;
	text-align: left;
	background-color: white;
	z-index: 100;
	box-shadow: 0 2px 5px rgba(51,51,51,0.3);
	border: 1px solid #c2c2c2;
	border-radius: 2px;
}
.head_menu.message_menu {
	right: 0px;
	width: 215px;
	height:	auto;
}
.ko_kr .head_menu.message_menu{
    width:230px;
}
.head_menu.message_menu li{
	cursor: pointer;
}
.message_menu_item {
	display:block;
}
.head_menu.helps_menu{
	right: 0;
	width: 215px;
}
.ja_jp .head_menu.helps_menu{
	width: 225px;
}
.msg_center {
	height: 30px;
	line-height: 30px;
    margin-left:10px;
	font-size: 12px;
	color: #333333;
	vertical-align: middle;
}
.message_menu {
	right: -75px;
	font-size: 12px;
	width: 250px;
	padding-bottom: 10px;
	vertical-align: top;
	top: 40px;
	height: 65px;
	border-radius: 0px;
}
.message_menu .msg_icon {
	background: url(../../images/message/menu_received_cards.png) no-repeat;
	width: 25px;
	height: 20px;
	margin-left: 20px;
	vertical-align: middle;
	display: inline-block;
}
.message_menu .task_icon {
	background: url(../../images/message/menu_task.png) no-repeat;
	width: 25px;
	height: 20px;
	margin-left: 20px;
    vertical-align: middle;
	display: inline-block;
}
.message_menu .invitation {
	background: url(../../images/message/menu_application.png) no-repeat;
	width: 25px;
	height: 20px;
	margin-left: 20px;
	vertical-align: middle;
	display: inline-block;
}
.message_menu li:hover a, .message_menu li:hover a:hover {
	cursor: pointer;
	color: #333333;
}
.helps_menu {
	right: -75px;
	font-size: 12px;
	width: 250px;
	vertical-align: top;
	top: 40px;
	border-radius: 0px;
	padding: 20px 0;
}
.helps_menu li:hover{
	background-color: #fff;
}
.helps_menu .first_nav{
	font-size: 14px;
	color: #707070;
	font-weight: bold;
	margin-bottom: 14px;
	padding: 0 20px;
	text-transform: uppercase;
}
.helps_menu .nav_phone{
	padding: 0 20px 0 40px;
	color:#fc8824;
	font-weight:bold;
	line-height:24px;
	background-image:url(../../images/icon_headnav_help_phone.png);
	background-repeat:no-repeat;
	background-position:20px center;
}
.helps_menu .second_item{
	line-height: 24px;
	padding: 0 20px;
	display: block;
}
.helps_menu .first_nav_download{
	margin-top: 24px;
}
.message_alert,.set_alert {
	display: none;
	position: absolute;
	width: 10px;
	height: 10px;
	background-position: 0 -1130px;
	top: 6px;
	right: 6px;
	background: url(../../images/notification_new_company.png) center no-repeat;
}
.message_view_all {
	display: block;
	height: 40px;
	text-align: center;
	line-height: 40px;
	background-color: #f5f5f5;
	text-decoration: none;
	color: #898989;
	border-radius: 0 0 6px 6px;
}
.message_read_all {
	padding-bottom: 20px;
	margin: 20px 20px 80px 20px;
	border-bottom: 1px solid #f2f2f2;
	display: none;
	color: #333;
}
.msg_num {
	float: right;
	margin-right: 20px;
}
.link_ums {
	color: #333333;
	font-size: 12px;
	height: 30px;
	line-height: 30px;
	margin: 0px 15px;
	text-decoration: none;
	vertical-align: top;
	display: block;
}
.head_menu li:hover, .head_menu li:hover .link_ums {
	background-color: #f5f5f5;
}
.helps_menu li:hover{
	background-color: #fff;
}
.head_menu .icon_profile, .head_menu .icon_toolbox, .head_menu .icon_exit {
	display: inline-block;
	width: 20px;
	height: 20px;
	background-repeat: no-repeat;
	background-position: center;
	margin-right: 10px;
	position: relative;
	top: 5px;
}
.head_menu .icon_profile {
	background-image: url(../../images/icon_profile.png);
}
.head_menu .icon_toolbox {
	background-image: url(../../images/icon_toolbox.png);
}
.head_menu .icon_exit {
	background-image: url(../../images/icon_exit.png);
}
#_ui_toast {
	display: none!important;
}
/* 成功结果勾号 */
.icon_success {
	width: 10px;
	height: 8px;
	background: url(../../images/icon_success.png) no-repeat;
	display: inline-block;
	margin-right: 10px;
}
.dialog_expircy {
	position: fixed;
	min-width: 240px;
	top: 5px;
	z-index: 3;
}
.dialog_expircy .di_main {
	min-width: 240px;
	margin: 0px auto;
}
.dialog_expircy .di_main .item {
	height: 40px;
	color: #441119;
	line-height: 40px;
	background-color: #f26c4f;
	margin-bottom: 5px;
	border-radius: 3px;
	position: relative;
	box-shadow: 0px 2px 1px rgba(0,0,0,0.15);
	box-shadow: 0px 2px 1px rgba(0, 0, 0)\0;
	padding-right: 44px;
}
.dialog_expircy .di_main .item.yellow {
	background-color: #F9EDBE;
}
.dialog_expircy .di_main .item.yellow .btn_cancel {
	background: url(../../images/expricy_close.png) no-repeat;
	background-position: center center;
}
.dialog_expircy .di_main .item.yellow .btn_cancel:hover {
	background: url(../../images/expricy_close_hover.png) no-repeat;
	background-position: center center;
	border: none;
}
.dialog_expircy .item.yellow .di_input_tip {
	color: #441119;
}
.dialog_expircy .item.yellow .a_contactus {
	display: inline-block;
	vertical-align: top;
	color: #1b84b2;
}
.dialog_expircy .btn_cancel {
	width: 20px;
	height: 20px;
	background: url(../../images/expricy_close_alert.png) no-repeat;
	background-position: center center;
	cursor: pointer;
	border: none;
	margin-top: 10px;
	margin-left: 14px;
	display: inline-block;
	vertical-align: top;
	position: absolute;
	right: 14px;
}
.dialog_expircy .di_title {
	padding: 5px 0px 20px;
	text-align: left;
}
.dialog_expircy .di_input_tip {
	color: #441119;
	font-size: 12px;
	font-weight: bold;
	padding-left: 20px;
}
.dialog_expircy .a_contactus {
	color: #fffae6;
	font-size: 12px;
	font-weight: bold;
	margin-left: 10px;
	text-decoration: none;
	vertical-align: top;
}
/* Footer.php */
.dd_content {
	position: relative;
}
.dd_pic {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 272px;
	height: 437px;
	background-image: url(../../images/dd_pic_1_en.png);
}
.zh_cn .dd_pic {
	background-image: url(../../images/dd_pic_1_zh.png);
}
.dd_qr_code {
	position: absolute;
	left: 285px;
	top: 0;
	width: 160px;
	height: 163px;
	background-image: url(../../images/download_qr_code.png);
	z-index: 10002;
	background-size: cover;
}
.dd_btn_download {
	display: block;
	color: #333;
	text-decoration: none;
	height: 70px;
	line-height: 70px;
	width: 170px;
	padding-left: 30px;
	background: white;
	margin-bottom: 20px;
	margin-left: 65px;
	font-size: 18px;
	cursor: pointer;
	border-radius: 8px;
	box-shadow: 0 3px rgba(100, 100, 100, 0.4);
}
.dd_btn_download:hover {
	text-decoration: underline;
}
.dd_content a span {
	padding-left: 45px;
	background-repeat: no-repeat;
	display: block;
	background-position: 0 15px;
}
.dd_content .android span {
	background-image: url(../../images/download_android.png);
}
.dd_content .ios span {
	background-image: url(../../images/download_ios.png);
}
.ib_top {
	top: 10px;
}
.switch_menu {
	padding: 0px 10px;
	border-left: solid 0px #ffffff;
	height: 40px;
	line-height: 40px;
	margin-left: -7px;
	cursor: pointer;
	background-image:url(../../images/task/left_unfold_arrow.png);
	background-position:center center;
	background-repeat:no-repeat;
}
.personal .switch_menu {
	background-image:url(../../images/personal_left_unfold_arrow.png);
}
.switch_menu:hover {
	background-color: #1f2d39;
}
.personal .switch_menu:hover {
	background-color: #076F9C;
	background-image:url(../../images/personal_left_unfold_arrow_hover.png);
}
.switch_menu.switch_menu_personal {
	right: 65px;
}
.main_nav_current {
	width: 0;
	height: 0;
	font-size: 0;
	line-height: 0;
	display: inline-block;
	*zoom:1;
	*display:inline;
	border-style: solid;
	border-color: #e1e1e1;
	border-left-color: transparent;
	border-right-color: transparent;
	border-top-color: transparent;
	border-top-width: 0;
	border-left-width: 6px;
	border-right-width: 6px;
	border-bottom-width: 4px;
	position: absolute;
	left: 50%;
	bottom: 0px;
	margin-left: -6px;
}
/*名片夹*//*任务*//*商谈记录*//*同事*/
.head_left_btns {
	margin-left: 20px;
	color: #707070;
	vertical-align: top;
}
/* 头像 */
.user_photo {
	width: 40px;
	height: 40px;
	line-height: 40px;
	font-size: 12px;
	display: block;
	border-radius: 3px;
}
.ht_btn_outer .user_photo{
	border-radius:0;
}
/* 头像背景颜色 */
.bg_color_0 {
	background-color: #f24e4e;
}
.bg_color_1 {
	background-color: #fd8603;
}
.bg_color_2 {
	background-color: #ffcc00;
}
.bg_color_3 {
	background-color: #8ed82e;
}
.bg_color_4 {
	background-color: #00a67b;
}
.bg_color_5 {
	background-color: #0fc3e8;
}
.bg_color_6 {
	background-color: #009aff;
}
.bg_color_7 {
	background-color: #0e4ead;
}
.bg_color_8 {
	background-color: #662d91;
}
.bg_color_9 {
	background-color: #7467c7;
}
.bg_color_a {
	background-color: #f06eaa;
}
.bg_color_b {
	background-color: #9e0758;
}
.bg_color_c {
	background-color: #8e7b88;
}
.bg_color_d {
	background-color: #827b00;
}
.bg_color_e {
	background-color: #754c24;
}
.bg_color_f {
	background-color: #337174;
}
/* 头像的字体颜色 */
.font_color {
	color: #ffffff;
}
/* 日本头像 */
.colleague_jp_pic {
	width: 40px;
	height: 40px;
	background-repeat: no-repeat;
	background-position:center center;
}
.bg_color_0 .colleague_jp_pic {
	background-image: url(../../images/colleague/avatar_32px_0.png);
}
.bg_color_1 .colleague_jp_pic {
	background-image: url(../../images/colleague/avatar_32px_1.png);
}
.bg_color_2 .colleague_jp_pic {
	background-image: url(../../images/colleague/avatar_32px_2.png);
}
.bg_color_3 .colleague_jp_pic {
	background-image: url(../../images/colleague/avatar_32px_3.png);
}
.bg_color_4 .colleague_jp_pic {
	background-image: url(../../images/colleague/avatar_32px_4.png);
}
.bg_color_5 .colleague_jp_pic {
	background-image: url(../../images/colleague/avatar_32px_5.png);
}
.bg_color_6 .colleague_jp_pic {
	background-image: url(../../images/colleague/avatar_32px_6.png);
}
.bg_color_7 .colleague_jp_pic {
	background-image: url(../../images/colleague/avatar_32px_7.png);
}
.bg_color_8 .colleague_jp_pic {
	background-image: url(../../images/colleague/avatar_32px_8.png);
}
.bg_color_9 .colleague_jp_pic {
	background-image: url(../../images/colleague/avatar_32px_9.png);
}
.bg_color_a .colleague_jp_pic {
	background-image: url(../../images/colleague/avatar_32px_a.png);
}
.bg_color_b .colleague_jp_pic {
	background-image: url(../../images/colleague/avatar_32px_b.png);
}
.bg_color_c .colleague_jp_pic {
	background-image: url(../../images/colleague/avatar_32px_c.png);
}
.bg_color_d .colleague_jp_pic {
	background-image: url(../../images/colleague/avatar_32px_d.png);
}
.bg_color_e .colleague_jp_pic {
	background-image: url(../../images/colleague/avatar_32px_e.png);
}
.bg_color_f .colleague_jp_pic {
	background-image: url(../../images/colleague/avatar_32px_f.png);
}
/* 40px */
.colleague_jp_pic.px_40 {
	width: 40px;
	height: 40px;
	background-repeat: no-repeat;
}
.bg_color_0 .colleague_jp_pic.px_40 {
	background-image: url(../../images/colleague/avatar_40px_0.png);
}
.bg_color_1 .colleague_jp_pic.px_40 {
	background-image: url(../../images/colleague/avatar_40px_1.png);
}
.bg_color_2 .colleague_jp_pic.px_40 {
	background-image: url(../../images/colleague/avatar_40px_2.png);
}
.bg_color_3 .colleague_jp_pic.px_40 {
	background-image: url(../../images/colleague/avatar_40px_3.png);
}
.bg_color_4 .colleague_jp_pic.px_40 {
	background-image: url(../../images/colleague/avatar_40px_4.png);
}
.bg_color_5 .colleague_jp_pic.px_40 {
	background-image: url(../../images/colleague/avatar_40px_5.png);
}
.bg_color_6 .colleague_jp_pic.px_40 {
	background-image: url(../../images/colleague/avatar_40px_6.png);
}
.bg_color_7 .colleague_jp_pic.px_40 {
	background-image: url(../../images/colleague/avatar_40px_7.png);
}
.bg_color_8 .colleague_jp_pic.px_40 {
	background-image: url(../../images/colleague/avatar_40px_8.png);
}
.bg_color_9 .colleague_jp_pic.px_40 {
	background-image: url(../../images/colleague/avatar_40px_9.png);
}
.bg_color_a .colleague_jp_pic.px_40 {
	background-image: url(../../images/colleague/avatar_40px_a.png);
}
.bg_color_b .colleague_jp_pic.px_40 {
	background-image: url(../../images/colleague/avatar_40px_b.png);
}
.bg_color_c .colleague_jp_pic.px_40 {
	background-image: url(../../images/colleague/avatar_40px_c.png);
}
.bg_color_d .colleague_jp_pic.px_40 {
	background-image: url(../../images/colleague/avatar_40px_d.png);
}
.bg_color_e .colleague_jp_pic.px_40 {
	background-image: url(../../images/colleague/avatar_40px_e.png);
}
.bg_color_f .colleague_jp_pic.px_40 {
	background-image: url(../../images/colleague/avatar_40px_f.png);
}
/* 20px */
.colleague_jp_pic.px_20 {
	width: 20px;
	height: 20px;
	background-repeat: no-repeat;
}
.bg_color_0 .colleague_jp_pic.px_20 {
	background-image: url(../../images/colleague/avatar_20px_0.png);
}
.bg_color_1 .colleague_jp_pic.px_20 {
	background-image: url(../../images/colleague/avatar_20px_1.png);
}
.bg_color_2 .colleague_jp_pic.px_20 {
	background-image: url(../../images/colleague/avatar_20px_2.png);
}
.bg_color_3 .colleague_jp_pic.px_20 {
	background-image: url(../../images/colleague/avatar_20px_3.png);
}
.bg_color_4 .colleague_jp_pic.px_20 {
	background-image: url(../../images/colleague/avatar_20px_4.png);
}
.bg_color_5 .colleague_jp_pic.px_20 {
	background-image: url(../../images/colleague/avatar_20px_5.png);
}
.bg_color_6 .colleague_jp_pic.px_20 {
	background-image: url(../../images/colleague/avatar_20px_6.png);
}
.bg_color_7 .colleague_jp_pic.px_20 {
	background-image: url(../../images/colleague/avatar_20px_7.png);
}
.bg_color_8 .colleague_jp_pic.px_20 {
	background-image: url(../../images/colleague/avatar_20px_8.png);
}
.bg_color_9 .colleague_jp_pic.px_20 {
	background-image: url(../../images/colleague/avatar_20px_9.png);
}
.bg_color_a .colleague_jp_pic.px_20 {
	background-image: url(../../images/colleague/avatar_20px_a.png);
}
.bg_color_b .colleague_jp_pic.px_20 {
	background-image: url(../../images/colleague/avatar_20px_b.png);
}
.bg_color_c .colleague_jp_pic.px_20 {
	background-image: url(../../images/colleague/avatar_20px_c.png);
}
.bg_color_d .colleague_jp_pic.px_20 {
	background-image: url(../../images/colleague/avatar_20px_d.png);
}
.bg_color_e .colleague_jp_pic.px_20 {
	background-image: url(../../images/colleague/avatar_20px_e.png);
}
.bg_color_f .colleague_jp_pic.px_20 {
	background-image: url(../../images/colleague/avatar_20px_f.png);
}
/* 80px */
.colleague_jp_pic.px_80 {
	width: 80px;
	height: 80px;
	background-repeat: no-repeat;
}
.bg_color_0 .colleague_jp_pic.px_80 {
	background-image: url(../../images/colleague/avatar_80px_0.png);
}
.bg_color_1 .colleague_jp_pic.px_80 {
	background-image: url(../../images/colleague/avatar_80px_1.png);
}
.bg_color_2 .colleague_jp_pic.px_80 {
	background-image: url(../../images/colleague/avatar_80px_2.png);
}
.bg_color_3 .colleague_jp_pic.px_80 {
	background-image: url(../../images/colleague/avatar_80px_3.png);
}
.bg_color_4 .colleague_jp_pic.px_80 {
	background-image: url(../../images/colleague/avatar_80px_4.png);
}
.bg_color_5 .colleague_jp_pic.px_80 {
	background-image: url(../../images/colleague/avatar_80px_5.png);
}
.bg_color_6 .colleague_jp_pic.px_80 {
	background-image: url(../../images/colleague/avatar_80px_6.png);
}
.bg_color_7 .colleague_jp_pic.px_80 {
	background-image: url(../../images/colleague/avatar_80px_7.png);
}
.bg_color_8 .colleague_jp_pic.px_80 {
	background-image: url(../../images/colleague/avatar_80px_8.png);
}
.bg_color_9 .colleague_jp_pic.px_80 {
	background-image: url(../../images/colleague/avatar_80px_9.png);
}
.bg_color_a .colleague_jp_pic.px_80 {
	background-image: url(../../images/colleague/avatar_80px_a.png);
}
.bg_color_b .colleague_jp_pic.px_80 {
	background-image: url(../../images/colleague/avatar_80px_b.png);
}
.bg_color_c .colleague_jp_pic.px_80 {
	background-image: url(../../images/colleague/avatar_80px_c.png);
}
.bg_color_d .colleague_jp_pic.px_80 {
	background-image: url(../../images/colleague/avatar_80px_d.png);
}
.bg_color_e .colleague_jp_pic.px_80 {
	background-image: url(../../images/colleague/avatar_80px_e.png);
}
.bg_color_f .colleague_jp_pic.px_80 {
	background-image: url(../../images/colleague/avatar_80px_f.png);
}
/* 60px */
.colleague_jp_pic.px_60 {
	width: 60px;
	height: 60px;
	background-repeat: no-repeat;
}
.bg_color_0 .colleague_jp_pic.px_60 {
	background-image: url(../../images/colleague/avatar_60px_0_201409181500.png);
}
.bg_color_1 .colleague_jp_pic.px_60 {
	background-image: url(../../images/colleague/avatar_60px_1_201409181500.png);
}
.bg_color_2 .colleague_jp_pic.px_60 {
	background-image: url(../../images/colleague/avatar_60px_2_201409181500.png);
}
.bg_color_3 .colleague_jp_pic.px_60 {
	background-image: url(../../images/colleague/avatar_60px_3_201409181500.png);
}
.bg_color_4 .colleague_jp_pic.px_60 {
	background-image: url(../../images/colleague/avatar_60px_4_201409181500.png);
}
.bg_color_5 .colleague_jp_pic.px_60 {
	background-image: url(../../images/colleague/avatar_60px_5_201409181500.png);
}
.bg_color_6 .colleague_jp_pic.px_60 {
	background-image: url(../../images/colleague/avatar_60px_6_201409181500.png);
}
.bg_color_7 .colleague_jp_pic.px_60 {
	background-image: url(../../images/colleague/avatar_60px_7_201409181500.png);
}
.bg_color_8 .colleague_jp_pic.px_60 {
	background-image: url(../../images/colleague/avatar_60px_8_201409181500.png);
}
.bg_color_9 .colleague_jp_pic.px_60 {
	background-image: url(../../images/colleague/avatar_60px_9_201409181500.png);
}
.bg_color_a .colleague_jp_pic.px_60 {
	background-image: url(../../images/colleague/avatar_60px_a_201409181500.png);
}
.bg_color_b .colleague_jp_pic.px_60 {
	background-image: url(../../images/colleague/avatar_60px_b_201409181500.png);
}
.bg_color_c .colleague_jp_pic.px_60 {
	background-image: url(../../images/colleague/avatar_60px_c_201409181500.png);
}
.bg_color_d .colleague_jp_pic.px_60 {
	background-image: url(../../images/colleague/avatar_60px_d_201409181500.png);
}
.bg_color_e .colleague_jp_pic.px_60 {
	background-image: url(../../images/colleague/avatar_60px_e_201409181500.png);
}
.bg_color_f .colleague_jp_pic.px_60 {
	background-image: url(../../images/colleague/avatar_60px_f_201409181500.png);
}
/* 公共按钮的样式 */
.btn_login_black, .btn_login_orange {
	display: inline-block;
	width: 100%;
	height: 38px;
	cursor: pointer;
	line-height: 38px;
	text-align: center;
	color: white;
	font-size: 12px;
	font-weight:bold;
	border-radius: 3px;
	background-color: #2D4051;
	border: 1px solid #2D4051;
	box-shadow: 0 1px 2px rgba(0,0,0,.1);
}
.btn_login_black:hover, .btn_login_orange:hover, .btn_login_black:active, .btn_login_orange:active {
	background-color: #243341;
	border-color: #243341;
	box-shadow: 0 2px 1px rgba(0,0,0,.15);
}
.btn_login_orange {
	background-color: #ff9933;
	border: 1px solid #ff9933;
	color: #ffffff;
}
.btn_login_orange:hover, .btn_login_orange:active {
	border-color: #fc8824;
	background-color: #fc8824;
	box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 2px 1px #d9d9d9\0;
}
/* 忘记密码-重发邮件不可用-bug4609 */
.btn_crm_blue_disable, .btn_crm_blue_disable:hover, .btn_login_black.disable, .btn_login_black.disable:hover {
	background-color: #abb3b9;
	cursor: default;
	box-shadow: none;
}
.personal .btn_crm_blue_disable, .personal .btn_crm_blue_disable:hover, .personal .btn_login_black.disable, .personal .btn_login_black.disable:hover {
	background-color: #a6ddf8;
	cursor: default;
	box-shadow: none;
}
#prompt_search, .prompt_global_search {
	font-size: 12px;
	top: 18px;
}
/* 完善个人资料 */
#dialog_check_mycard_box .iu_dialog_content {
	height: 150px;
	max-height: 150px;
	color: #333;
	text-align: left;
}
#dialog_check_mycard_box .iu_dialog_button_0 {
	display: none;
}
#dialog_check_mycard_box .error {
	margin: 10px 0px 0px -11px;
}
.dcme_title{
	font-size: 18px;
	font-weight: bold;
	text-align: center;
}
.dcme_tip{
	margin-top: 35px;
}
.dialog_check_mycard_exists .input_outer {
	margin-top: 10px;
}
.dialog_expircy .a_contactus:hover {
	color: #fffae6;
	text-decoration: underline;
}
#home_dl_app {
	display: block;
	position: fixed;
	left: 0;
	bottom: 0;
	z-index: 888;
	width: 100%;
}
.iu_notice {
	position: fixed !important;
}
/*1.5.8版本切换*/
.dialog_services_body {
	width: 560px;
	height: 270px;
	display: block;
	overflow: hidden;
	padding: 45px 45px 60px 55px;
}
.dialog_services_li, .services_li_corp {
	width: 260px;
	height: 260px;
	display: inline;
	float: left;
	margin-left: 0px;
	cursor: pointer;
	border: 5px solid #ffffff;
	background: url(../../images/switch_cc_2014120101700.png) center center no-repeat;
}
.dialog_services_li:hover {
	width: 260px;
	height: 260px;
	border: 5px solid #18b8f3;
}
.services_li_corp {
	margin-left: 10px;
	background: url(../../images/switch_ccb_2014120101700.png) center center no-repeat;
}
.services_li_corp:hover {
	width: 260px;
	height: 260px;
	border: 5px solid #2d4051;
}
/* 中文环境 */
.zh_cn .dialog_services_li, .zh_cn .services_li_corp {
	background: url(../../images/switch_cc_2014120101700_cn.png) center center no-repeat;
}
.zh_cn .services_li_corp {
	background: url(../../images/switch_ccb_2014120101700_cn.png) center center no-repeat;
}
/* 中文环境 */
.zh_tw .dialog_services_li, .zh_tw .services_li_corp {
	background: url(../../images/switch_cc_2014120101700_cn.png) center center no-repeat;
}
.zh_tw .services_li_corp {
	background: url(../../images/switch_ccb_2014120101700_cn.png) center center no-repeat;
}
/*tab切换left line*/
.com_left_line {
	width: 5px;
	height: 37px;
	overflow: hidden;
	cursor: pointer;
	position: absolute;
	z-index: 2;
	background-color: #2d4051;
	display: none;
}
.personal .com_left_line {
	background-color: #1B84B2;
}
.m_cur2 .com_left_line, .com_nav_cur .com_left_line, .l_nav_cur .com_left_line {
	display : block;
}
/* 左边菜单选中内阴影不要了，UI说按名片首页来 */
.m_cur2 .link.select {
	border-top: 1px solid #cccccc;
}
/*个人名片按钮新的样式*/
.hbr_btn_new {
	height: 28px;
	line-height: 28px;
	padding: 0 20px;
	cursor: pointer;
	margin-left: 10px;
	position: relative;
	text-decoration: none;
	font-size: 12px;
	font-weight: bold;
	color: #707070;
	text-align: center;
	border-radius: 3px;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	word-wrap: normal;
	background-image: url(about:blank);
	background: -moz-linear-gradient(top, #ffffff, #F8F8F8);/*Mozilla*/
	background: -webkit-linear-gradient(top, #ffffff, #F8F8F8);/*new gradient for Webkit*/
	background: -o-linear-gradient(top, #ffffff, #F8F8F8); /*Opera11*/
	background: -ms-linear-gradient(top, #ffffff, #F8F8F8); /*IE10*/
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#ffffff, endColorstr=#F8F8F8)";/*IE8+*/
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#ffffff, endColorstr=#F8F8F8);/*IE<9>*/
}
.hbr_btn_new:hover {
	border: 1px solid #c2c2c2;
	box-shadow: 0px 2px 1px rgba(225, 225, 225, 1);
	box-shadow: 0px 2px 1px #e1e1e1\0;
}
.hbr_btn_orangle_new {
	height: 28px;
	line-height: 28px;
	padding: 0 20px;
	font-size: 12px;
	font-weight: bold;
	color: #ffffff;
	cursor: pointer;
	margin-left: 10px;
	position: relative;
	text-decoration: none;
	text-align: center;
	border-radius: 3px;
	background-color: #ff9933;
	border: 1px solid #ff9933;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	word-wrap: normal;
}
.hbr_btn_orangle_new:hover {
	border: 1px solid #fc8f30;
	background-color: #fc8f30;
	box-shadow: 0px 2px 1px rgba(115, 66, 30, 0.15);
	box-shadow: 0px 2px 1px #d9d9d9\0;
}
.icon_plus_new {
    display: inline-block;
    width: 14px;
    height: 14px;
    background: url(../../images/ch_sprite_151223.png) 0 -2px no-repeat;
    vertical-align: middle;
    margin-right: 5px;
}
/* 公共按钮样式-橙色 */
.com_btn_orange {
	line-height: 28px;
	text-align: center;
	border-radius: 3px;
	background-color: #ff9933;
	border: 1px solid #ff9933;
	color: #ffffff;
	cursor: pointer;
	font-weight: bold;
	padding: 0px 20px;
	display: inline-block;
	vertical-align: top;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	word-wrap: normal;
}
.com_btn_orange:hover, .com_btn_orange:active {
	border-color: #fc8824;
	background-color: #fc8824;
	box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 2px 1px #d9d9d9\0;
}
.com_btn_orange.disable, .com_btn_orange.disable:hover {
	border:1px solid #ffd6ad;
	background-color:#ffd6ad;
	box-shadow: none;
	cursor: default;
}
/* 公共按钮样式-深蓝色-企业版 */
.com_btn_darkblue, .com_btn_red {
	padding: 0 20px;
	min-width: 58px;
	text-align: center;
	font-size: 12px;
	font-weight: bold;
	border-radius: 3px;
	cursor: pointer;
	text-decoration: none;
	line-height: 28px;
	color: #ffffff;
	border: 1px solid #2d4051;
	background-color: #2d4051;
	display: inline-block;
	vertical-align: top;
}
.com_btn_darkblue:hover, .com_btn_darkblue:active {
	border: 1px solid #243341;
	background-color: #243341;
	box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.com_btn_darkblue.disable, .com_btn_darkblue.disable:hover {
	border: 1px solid #abb3b9;
	background-color: #abb3b9;
	box-shadow: none;
	cursor: default;
}
.com_btn_red {
	color: #ffffff;
	border: 1px solid #f26c4f;
	background-color: #f26c4f;
}
.com_btn_red:hover, .com_btn_red:active {
	border: 1px solid #eb6042;
	background-color: #eb6042;
	box-shadow: 0 2px 1px rgba(0, 0, 0, 0.15);
	box-shadow: 0px 2px 1px #d9d9d9\0;
}
.com_btn_red.disable, .com_btn_red.disable:hover {
	border: 1px solid #f9c1c1;
	background-color: #f9c1c1;
	cursor: default;
	box-shadow: none;
}
/* 公共按钮样式-浅蓝色-个人版 */
.personal .com_btn_darkblue {
	background-color: #1B84B2;
	border-color: #1B84B2;
}
.personal .com_btn_darkblue:hover, .personal .com_btn_darkblue:active {
	background-color: #057baf;
	border-color: #057baf;
}
.personal a.com_btn_darkblue.disable, .personal a.com_btn_darkblue.disable:hover {
	background-color: #A4CEE0;
	border-color: #A4CEE0;
	cursor: default;
	box-shadow: none;
}
/* 公共按钮样式-取消 */
.com_btn_white {
	padding: 0 20px;
	min-width: 58px;
	height: 28px;
	line-height: 28px;
	text-align: center;
	border-radius: 3px;
	font-size: 12px;
	color: #707070;
	font-weight: bold;
	background-color: #f5f5f5;
	border: 1px solid #cccccc;
	display: inline-block;
	vertical-align: top;
	cursor: pointer;
	background-image: url(about:blank);
	background: -moz-linear-gradient(top, #ffffff, #f5f5f5);/*Mozilla*/
	background: -webkit-linear-gradient(top, #ffffff, #f5f5f5);/*new gradient for Webkit*/
	background: -o-linear-gradient(top, #ffffff, #f5f5f5); /*Opera11*/
	background: -ms-linear-gradient(top, #ffffff, #f5f5f5); /*IE10*/
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#ffffff, endColorstr=#f5f5f5)";/*IE8+*/
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#ffffff, endColorstr=#f5f5f5);/*IE<9>*/
}
.com_btn_white:hover, .com_btn_white:active {
	border: 1px solid #c2c2c2;
	box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 2px 1px #d9d9d9\0;
}
.com_btn_white.disable, .com_btn_white.disable:hover {
	color: #c2c2c2;
	box-shadow: none;
	cursor: default;
}
/*右边标题下的阴影-开始*/
.b_top_1 {
	border-top: 1px solid #cccccc;
}
/* 各首页右边头部下面4px渐变 */
.bottom_gradient {
	background-color: #E5E5E5;
	background-image: url(about:blank);
	height: 4px;
	background: -moz-linear-gradient(top, #E5E5E5, #ffffff);/*Mozilla*/
	background: -webkit-linear-gradient(top, #E5E5E5, #ffffff);/*new gradient for Webkit*/
	background: -o-linear-gradient(top, #E5E5E5, #ffffff); /*Opera11*/
	background: -ms-linear-gradient(top, #E5E5E5, #ffffff); /*IE10*/
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#E5E5E5, endColorstr=#ffffff)";/*IE8+*/
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#E5E5E5, endColorstr=#ffffff);/*IE<9>*/
}
/*右边标题下的阴影-结束*/

/*loading*/
#dialog_ajax_loading {
	padding : 0px;
}
.no_dialog_min_limit {
	min-width: 100px!important;
	min-height: 100px!important;
}
.loading_video_ff {
	margin: 26px;
	width: 48px;
	height: 48px;
}
.loading_gif, .loading_gif:hover {
	background : url(../../images/loading/login_loading_company.gif) 0px 0px no-repeat;
	width : 48px;
	height : 48px;
	position : relative;
	display: block;
}
.personal .loading_gif, .personal .loading_gif:hover {
	background : url(../../images/loading/login_loading_personal.gif) 0px 0px no-repeat;
	width : 48px;
	height : 48px;
	position : relative;
	display: block;
}
.personal .path {
	stroke: #1B84B2;
}
/* 按钮上的gif-Loading-开始 */
/* 企业gif(深蓝色) */
.btn_loading_gif, .iu_dialog_button.btn_loading_gif, .btn_loading_gif_orange {
	text-indent: -1000em;
	background-color: #abb3b9!important;
	border-color: #abb3b9!important;
	background-position:center center!important;
	cursor:default!important;
	box-shadow: none!important;
	background-image: url(../../images/loading/company_btn_loading.gif);
	background-repeat:no-repeat!important;
	box-shadow: none!important;
}
.btn_loading_gif:hover, .iu_dialog_button.btn_loading_gif:hover {
	background-repeat:no-repeat!important;
	background-image: url(../../images/loading/company_btn_loading.gif);
}
/* 私人gif(浅蓝色) */
.personal .btn_loading_gif, .personal .iu_dialog_button.btn_loading_gif {
	background-color: #A4CEE0!important;
	border-color: #A4CEE0!important;
	background-repeat:no-repeat!important;
	background-image : url(../../images/loading/private_btn_loading.gif);
}
.personal .btn_loading_gif:hover, .personal .iu_dialog_button.btn_loading_gif:hover {
	background-repeat:no-repeat!important;
	background-image: url(../../images/loading/private_btn_loading.gif);
}
/* 白色gif */
.com_btn_white.btn_loading_gif, .com_btn_white.btn_loading_gif:hover {
	background-color: #f5f5f5!important;
	border-color: #cccccc!important;
	background-image: url(../../images/loading/cancel_btn_loading.gif);
}
/* 橘色gif */
.iu_dialog_button_orange_note.btn_loading_gif, .iu_dialog_button_orange_note.btn_loading_gif:hover,
.btn_login_orange.btn_loading_gif, .btn_login_orange.btn_loading_gif:hover {
	background-color: #ffd6ad!important;
	border: 1px solid #ffd6ad!important;
	background-image: url(../../images/loading/create_btn_loading.gif);
}
/* 红色gif */
.iu_dialog_danger .iu_dialog_button_1.btn_loading_gif, .iu_dialog_danger .iu_dialog_button_1.btn_loading_gif:hover {
	background-color: #fac4b9!important;
	border: 1px solid #fac4b9!important;
	background-image: url(../../images/loading/delete_btn_loading.gif);
}
/* 按钮上的gif-Loading-结束 */
/* loading-Loading2: 用于部分模块尚未加载出来时 */
.loaddata_gif, .loaddata_gif:hover {
	background : url(../../images/loading/default_loading_bg_white.gif) no-repeat;
	width : 48px;
	height : 48px;
	margin : 0 auto;
	position : relative;
	top : 32%;
	display: block;
}
.btn_loading_gif_orange, .btn_loading_gif_orange:hover {
	background-color: #ffd6ad!important;
	border-color: #ffd6ad!important;
	background-image: url(../../images/loading/create_btn_loading.gif);
}
/* 任务、员工管理等Loading的外框 */
.com_loading_box {
	width: 50px;
	height: 50px;
	position: absolute;
	z-index: 9990;
	left: 50%;
	top: 50%;
	margin-left: -25px;
	margin-top: -25px;
	display: none;
}
.loadingdata_gif, .loadingdata_gif:hover {
	background : url(../../images/loading/default_loading_bg_white.gif) no-repeat;
	width : 48px;
	height : 48px;
	margin : 0 auto;
	position : relative;
	top : 32%;
	display: block;
}

/* 左边二级菜单[我的下属]的分割线，全局可以使用 */
.com_topdividingline00 {
	width: 100%;
	height: 0px;
	display: block;
	overflow: hidden;
	border-top: 1px solid #f5f5f5;
	clear: both;
}

/* 下拉列表框的渐变样式-开始(名片详情，邀请很多地方下拉都有) */
.di_menu_handle, .menu_handle, .eci_handle, .menu_super .btn_down {
	border: 1px solid #cccccc;
	border-radius: 3px;
	color: #333;
	cursor: pointer;
	width: 95px;
	height: 28px;
	line-height: 28px;
	padding: 0 15px 0 8px;
	position: relative;
	background-image: url(about:blank);
	background: -moz-linear-gradient(top, #ffffff, #F8F8F8);/*Mozilla*/
	background: -webkit-linear-gradient(top, #ffffff, #F8F8F8);/*new gradient for Webkit*/
	background: -o-linear-gradient(top, #ffffff, #F8F8F8); /*Opera11*/
	background: -ms-linear-gradient(top, #ffffff, #F8F8F8); /*IE10*/
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#ffffff, endColorstr=#F8F8F8)";/*IE8+*/
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#ffffff, endColorstr=#F8F8F8);/*IE<9>*/
}
.di_menu_handle:hover, .menu_handle:hover, .eci_handle:hover, .menu_super .btn_down:hover {
	border-color: #c2c2c2;
	background: -moz-linear-gradient(top, #ffffff, #F6F6F6);/*Mozilla*/
	background: -webkit-linear-gradient(top, #ffffff, #F6F6F6);/*new gradient for Webkit*/
	background: -o-linear-gradient(top, #ffffff, #F6F6F6); /*Opera11*/
	background: -ms-linear-gradient(top, #ffffff, #F6F6F6); /*IE10*/
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#ffffff, endColorstr=#F6F6F6)";/*IE8+*/
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#ffffff, endColorstr=#F6F6F6);/*IE<9>*/
	box-shadow: 0 1px 2px rgba(0,0,0,.1);
}
.di_menu_handle.disable, .menu_handle.disable, .eci_handle.disable {
	color: #ccc;
	cursor: default;
	background: -moz-linear-gradient(top, #ffffff, #F8F8F8);/*Mozilla*/
	background: -webkit-linear-gradient(top, #ffffff, #F8F8F8);/*new gradient for Webkit*/
	background: -o-linear-gradient(top, #ffffff, #F8F8F8); /*Opera11*/
	background: -ms-linear-gradient(top, #ffffff, #F8F8F8); /*IE10*/
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#ffffff, endColorstr=#F8F8F8)";/*IE8+*/
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#ffffff, endColorstr=#F8F8F8);/*IE<9>*/
	box-shadow: none;
}
.di_menu_handle .triangle, .menu_handle .triangle, .eci_handle .triangle {
	border-width: 4px;
	border-bottom-width: 0;
	top: 40%;
	right: 8px;
	position: absolute;
}
/* 下拉列表框的渐变样式-结束(名片详情，邀请很多地方下拉都有) */


/* Buttons with more options-橙色 */
.btn_complex_orange {
	height: 28px;
	line-height: 28px;
	text-align: center;
}
.btn_orange_text, .btn_orange_button {
	background-color: #ff9933;
	color: #ffffff;
	cursor: pointer;
	display: inline-block;
	vertical-align: top;
}
.btn_orange_text {
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	border: 1px solid #ff9933;
	border-right: 1px solid #fdb777;
	padding: 0px 15px;
	vertical-align: top;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	word-wrap: normal;
}
.btn_orange_button {
	width: 20px;
	text-align: center;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	border: 1px solid #ff9933;
	vertical-align: top;
}
.btn_orange_text:hover, .btn_orange_button:hover {
	border-color: #fc8824;
	background-color: #fc8824;
	box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 2px 1px #d9d9d9\0;
}
.btn_orange_text:hover {
	border-right: 1px solid #fdb777;
}
.btn_orange_button:hover, .btn_orange_button:active {
}
.btn_white_triangle_down {
	width: 0;
	height: 0;
	font-size: 0;
	line-height: 0;
	display: inline-block;
	*zoom:1;
	*display:inline;
	border-width: 4px;
	border-style: solid;
	border-left-color: transparent;
	border-right-color: transparent;
	border-bottom-color: transparent;
	border-bottom-width: 0;
	vertical-align: top;
	margin-top: 11px;
}
.official_version, .official_version:hover {
	color:#ff9933;
}


/* 宽度大于1050px */
@media (min-width: 1050px) {
	.head_bottom {
		padding: 0px 20px;
	}
	.hb_btn_outer .hb_btn {
		padding: 0 80px 0px 17px;
	}
}

#user_menu_default_avatar {
	background-image: url('../../images/default_avatar_web21.png');
}

a.link_orange {
	color: #ff9933;
}