@charset "utf-8";
/* reset */
html{font-size:62.5%;}
body{font-size:1.4rem;}
html,body{color:#333;background:#fff;height:100%;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {display:block;}
body,div,dl,dt,dd,ul,li,h1,h2,h3,form,textarea,p,input,select,textarea,button {margin:0;padding:0}
dl,ul,menu,li {list-style:none}
blockquote, q {quotes: none}
q:before, q:after {content:'';content:none}
input,select,textarea,button {vertical-align:middle}
button {border:0 none;background-color:transparent;cursor:pointer}
body {background:#fff}
body,input,select,textarea,button {line-height:1 ;font-family:"微软雅黑", "黑体","宋体";color:#666} 
a {color:#666;text-decoration:none} 
a:active, a:hover {text-decoration:none}
em,i {font-style:normal;font-weight:normal}
img{vertical-align:top}
a {outline: none;}  
a:active {star:expression(this.onFocus=this.blur());}


